body {
  margin: 0;
  padding: 0;
}

div {
  position: absolute;
}

.bg {
  width: 800px;
  height: 600px;
  overflow: hidden;
  background: #f2f2f2;
}
.beam {
  width: 1600px;
  height: 20px;
  background: #fff;
  top: 290px;
  left: -400px;
}

.d_shield1,
.d_shield2,
.d_shield3,
.d_shield4,
.d_shield5,
.d_shield6 {
  background: #e15016;
}
.d_shield1 {
  left: 32px;
  width: 140px;
  height: 346px;
}
.d_shield2 {
  transform: skewX(5deg);
  left: 16px;
  width: 100px;
  height: 346px;
}
.d_shield3 {
  transform: skewY(15deg);
  top: 265px;
  left: 32px;
  width: 140px;
  height: 100px;
}
.d_shield4 {
  left: 172px;
  width: 140px;
  height: 346px;
}
.d_shield5 {
  transform: skewX(-5deg);
  left: 227px;
  width: 100px;
  height: 346px;
}
.d_shield6 {
  transform: skewY(-15deg);
  top: 265px;
  left: 172px;
  width: 140px;
  height: 100px;
}
